@import url(reset.css);

div {
    color: red;
}

/* .second-p .mark {
    color: beige;
} */

.first-p.text {
    color: blueviolet;
}

a.link{
    color: rgb(0, 255, 30);
}

/* li .link-1 {
    color: blue;
} */

li {
    color: rgb(255, 230, 0);
} 

 

